@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 18, 18, 18;
  --color: 245, 245, 245;
  --accent: 25, 25, 25;
  --secondary: 41, 41, 41;
  --button: 19, 19, 19;
}
:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  color: rgb(var(--color));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
