@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: 18, 18, 18;
  --color: 245, 245, 245;
  --accent: 25, 25, 25;
  --secondary: 41, 41, 41;
  --button: 19, 19, 19;
} */
@layer base {
  :root {
    --background: rgb(223, 223, 223);
    --color: rgb(19, 19, 19);
    --accent: rgb(147, 147, 147);
    --secondary: rgb(209, 209, 209);
    --button: rgb(97, 97, 97);
  }
  .dark {
    --background: rgb(18, 18, 18);
    --color: rgb(245, 245, 245);
    --accent: rgb(25, 25, 25);
    --secondary: rgb(41, 41, 41);
    --button: rgb(19, 19, 19);
  }
}
:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
@layer base {
  body {
    background-color: var(--background);
    color: var(--color);
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
